<!DOCTYPE html>
<html>
	<head>
		<title>Aprain</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<style type="text/css">
		.div-center {
        	text-align:center;
        }
	</style>
	
	<body>
		<div class="div-center">
			<h1>不管我从哪里来，那一天，我暮然回首，只为在人群中多看你一眼，不修来生，只为途中与你相遇！</h2>
		</div>
	</body>
</html>
