<!DOCTYPE html>
<html>
	<head>
		<title>添加一笔要货信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="$!uriBroker.get("style_domain")/css/common.css" rel="stylesheet" />
		<script src="$!uriBroker.get("style_domain")/js/addreq.js" type="text/javascript"></script>
	</head>
	
	<body>
		<div class="div-center">
			<h1>您好 $!user， 请输入要货信息：</h1>
		</div>
		
		<div id="navi">
			<div class="div-center">
				<a href="$!uriBroker.get("bill_package")/index.htm" title="首页">首页</a>
				
				<font>添加要货</font>
				<a href="$!uriBroker.get("bill_package")/showreq.htm" title="查看当口要货信息">查看要货</a>
				<a href="$!uriBroker.get("bill_package")/overview.htm" title="查看库存情况">库存</a>
				<a href="$!uriBroker.get("bill_package")/addsell.htm" title="退录入卖货信息">卖货</a>
				<a href="$!uriBroker.get("bill_package")/addbuy.htm" title="录入进货信息">进货</a>
				<a href="$!uriBroker.get("bill_package")/showtrade.htm" title="查看进货卖货明细">历史明细</a>
				
				<a href="$!uriBroker.get("common_package")/logout.htm" title="退出">退出</a>
			</div>
		</div>
		
		<div id="input">
			<fieldset>
			    <legend><font>输入发货的主要信息</font></legend>
			   
			   	<form id="addReq" name="addReq" action="$!uriBroker.get("bill_package")/addreq.htm" method="post">
			     	<input type="hidden" name="isAction" value="yes">
			     	<input type="hidden" id="detailJson" name="detailJson" value="">
			     	
			     	<div class="input-item">名字</div>
			     	<div>
			     		<input id="name" name="name" type="text" value="" size="25" />
			     	</div>
			     	
			     	<div class="input-item">联系电话</div>
			     	<div>
			     		<input id="phone" name="phone" type="text" value="" size="15" />
			     	</div>
			     	
			     	<div class="input-item">目的地</div>
			     	<div>
			     		<select id="addr" name="addr">
						  <option value=""></option>
						  <option value="xk">小库</option>
						  <option value="th">库房提货</option>
						  <option value="hy">货运公司</option>
						</select>
			     	</div>
				    
				    <div class="input-item">详细地址</div>
			     	<div>
			     		<input id="detailAddr" name="detailAddr" type="text" value="" size="25" />
			     	</div>
				    
					<div class="input-item">是否付款</div>
			     	<div>
			     		<select id="isPay" name="isPay">
						  <option value=""></option>
						  <option value="yes">已经付款</option>
						  <option value="no_hy">货运代收</option>
						  <option value="no_kf">库房收款</option>
						</select>
			     	</div>
			     	
			     	<div class="input-item">期望完成时间</div>
			     	<div>
			     		<input id="expectTime" name="expectTime" type="text" value="" size="25" />
			     	</div>
			     	
			     	<div class="input-item">备注</div>
			     	<div>
			     		<textarea name="comment" rows="5" cols="35"></textarea>
			     	</div>
			     	
			     	<div class="input-item">&nbsp;</div>
			     	<div>
			     		<input id="asdf" type="button" onclick="return createJsonAndSubmit()" value="确认该要货申请" />
			     	</div>
		     	</form>
			</fieldset>
			
			<br />
			
			<fieldset>
			    <legend><font>增加一个发货品种</font></legend>
			    
				<div class="input-item">尺寸</div>
		     	<div>
		     		<select id="size" name="size" >
					  <option value=""></option>
					  #foreach($do1 in $itemDOList)
				  		  #if($stringUtil.equals("size",$!{do1.type}))
				  			 <option value="$!{do1.id}">$!{do1.value}</option>
				  		  #end
					  #end
					</select>
		     	</div>
		     	
		     	<div class="input-item">厚度</div>
		     	<div>
		     		<select id="height" name="height" >
					  <option value=""></option>
					  #foreach($do1 in $itemDOList)
				  		  #if($stringUtil.equals("height",$!{do1.type}))
				  			 <option value="$!{do1.id}">$!{do1.value}</option>
				  		  #end
					  #end
					</select>
		     	</div>
		     	
		     	<div class="input-item">等级</div>
		     	<div>
		     		<select id="grade" name="grade" >
					  <option value=""></option>
					  #foreach($do1 in $itemDOList)
				  		  #if($stringUtil.equals("grade",$!{do1.type}))
				  			 <option value="$!{do1.id}">$!{do1.value}</option>
				  		  #end
					  #end
					</select>
		     	</div>
		     	
		     	<div class="input-item">材质</div>
		     	<div>
		     		<select id="material" name="material" >
					  <option value=""></option>
					  #foreach($do1 in $itemDOList)
				  		  #if($stringUtil.equals("material",$!{do1.type}))
				  			 <option value="$!{do1.id}">$!{do1.value}</option>
				  		  #end
					  #end
					</select>
		     	</div>
		     	
		     	<div class="input-item">数量</div>
		     	<div>
		     		<input id="num" name="num" type="text" value="" size="15" />
		     		<label for="num">张</label>
		     	</div>
		     	
		     	<div class="input-item">售价</div>
		     	<div>
		     		<input id="price" name="price" type="text" value="" size="15" />
		     		<label for="price">元/张</label>
		     	</div>
		     	
		     	<div class="input-item">备注</div>
		     	<div>
		     		<textarea id="detailComment" name="detailComment" rows="3" cols="35"></textarea>
		     	</div>
		     	
		     	<div class="input-item">&nbsp;</div>
		     	<div>
		     		<button id="add" onclick="doAdd()">添加</button>
		     	</div>
			</fieldset>
			
			<br />
			
			<table id="result-table" align="center" border="1">
				<tr>
			 		<th width="15%">尺寸</th>
			 		<th width="10%">厚度(毫米)</th>
			 		<th width="8%">等级</th>
			 		<th width="8%">材质</th>
			    	<th width="12%">数量(张)</th>
			    	<th width="12%">售价(元/张)</th>
			    	<th width="40%">备注</th>
			  	</tr>
			</table>
		</div>
		
		<div id="footer">
			<hr />
			<div class="div-center">
				<span>aprain 版权所有 2012-3000</span>
			</div>
		</div>
	</body>
</html>
